<template name="layout">
    <div class="row">
        <div class="col-md-12">
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            {{>sAlert}}
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">flatVote</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="{{pathFor 'home'}}">Strona główna</a>
                            </li>
                            <li>
                                <a href="{{pathFor 'addFlat'}}"><strong>+</strong> Dodaj</a>
                            </li>
                            <li>
                                <a href="{{pathFor 'bestFlats'}}">Najlepsze</a>
                            </li>
                            <li>
                                <a href="{{pathFor 'unvotedFlats'}}">Zagłosuj!</a>
                            </li>
                            {{{inactiveDelete}}}
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>

            <!-- Page Content -->
            <div class="container">
                {{#if loginName}}
                    {{>yield}}
                {{else}}
                    <div class="modal show" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title">Wybierz użytkownika</h4>
                            </div>
                            <div class="modal-body text-center">
                                <button type="button" class="btn btn-success btn-lg choose-user" data-user="Justyna">
                                    Justyna
                                </button>
                                <button type="button" class="btn btn-success btn-lg choose-user" data-user="Sergii">
                                    Sergii
                                </button>
                                <button type="button" class="btn btn-success btn-lg choose-user" data-user="Kamil">
                                    Kamil
                                </button>
                            </div>
                            </div>
                        </div>
                    </div>
                {{/if}}

                <!-- Footer -->
                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Copyright &copy; flatVote 2015</p>
                        </div>
                    </div>
                    <!-- /.row -->
                </footer>
            </div>
        </div>
    </div>
</template>
