<template name="home">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Lista ogłoszeń</h1>
        </div>
    </div>
    <!-- /.row -->
    {{> Flats}}

    <hr>
</template>

<template name="Flats">
    {{> pages}}
    {{> pagesNav}}  <!--Bottom navigation-->
</template>

<template name="flatItem">
    <div class="row">
        <div class="col-md-3 thumbnail">
            <a href="{{image}}" class="swipebox">
                <img class="img-thumbnail" src="{{image}}" alt="">
            </a>
        </div>
        <div class="col-md-9">
            <div class="col-md-12">
                <h3>{{title}} {{{deleteButton}}}</h3>
            </div>
            <div class="col-md-12">
                <h4>{{price}}</h4>
            </div>
            <div class="col-md-12">
                <p>{{desc}}</p>
            </div>
            <div class="col-md-12">
                <a class="btn btn-primary" href="{{URL}}">ZOBACZ <span class="glyphicon glyphicon-chevron-right"></span></a>
                <a class="btn btn-success score-up"><span class="glyphicon glyphicon-chevron-up"></span></a> <strong>{{score}}</strong>
                <a class="btn btn-danger score-down"><span class="glyphicon glyphicon-chevron-down"></span></a>
                {{#if voted}}<a class="btn btn-danger delete-vote">Usuń głos</a>{{/if}}
                <button type="button" class="btn btn-default flat-comment" data-container="body" data-toggle="popover" data-placement="right" data-content="
                {{#each comments}}
                    <blockquote>
                        <p>{{author}}: {{content}}</p>
                    </blockquote>
                {{else}}
                    <blockquote>
                        <p>BRAK KOMENTARZY</p>
                    </blockquote>
                {{/each}}
                ">
                    Komentarze [
                        {{#if comments}}
                            {{comments.length}}
                        {{else}}
                            0
                        {{/if}}]
                </button> <br>
            </div>
            <div class="col-md-12">
                <form class='form-horizontal' role='form'>
            	  	<div class='form-group form-group-sm'>
            	    	<div class='col-md-10'>
            	      		<input class='form-control' type='text' id='flatComment' placeholder='Komentarz'>
            	    	</div>
            		  	<div class='col-md-2'>
            			  	<button type="submit" class='btn btn-success btn-sm add-comment'>Dodaj</button>
            		  	</div>
            	  	</div>
            	</form>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <hr>
    <script type="text/javascript">
        $('.flat-comment').popover({html: true})
    </script>
</template>
