<template name="addFlat">
	<!-- Page Heading -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Dodaj mieszkanko</h1>
        </div>
    </div>
    <!-- /.row -->
	<form class="form-horizontal" role="form">
	  	<div class="form-group form-group-sm">
	    	<div class="col-md-10">
	      		<input class="form-control" type="text" id="flatURL" placeholder="Link do OLX.pl">
	    	</div>
		  	<div class="col-md-2">
			  	<button type="submit" class="btn btn-success btn-sm">Dodaj mieszkanko!</button>
		  	</div>
	  	</div>
	</form>

	<hr>
</template>
