<template name="bestFlats">
	<!-- Page Heading -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Najlepsze mieszkanka</h1>
        </div>
    </div>
    <!-- /.row -->
	{{#each bestFlats}}
	   {{> flatItem}}
	{{/each}}

	<hr>
</template>
