<template name="unvotedFlats">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Ogłoszenia bez Twojego głosu</h1>
        </div>
    </div>
    <!-- /.row -->
    {{#each unvotedFlats}}
        {{> flatItem}}
    {{/each}}

    <hr>
</template>
